@import (reference) "config";

@colorScheme: `function() {
	return [
	{
		"prop": "background",
		"value": "transparent",
		"previewColorBlock": 2,
		"blocks": [
			{
				"prop": "background",
				"value": "#ffffff",
				"textColors": [
					"#252525",
					"#9e868b",
					"#9a9a9a"
				]
			},
			{
				"prop": "background",
				"value": "#605254",
				"textColors": [
					"#ffffff",
					"#9e868b",
					"#9a9a9a"
				]
			},
			{
				"prop": "background",
				"value": "#ebe8e9",
				"textColors": [
					"#252525",
					"#9e868b",
					"#9a9a9a"
				]
			},
			{
				"prop": "background",
				"value": "#f6f6f6",
				"textColors": [
					"#252525",
					"#9e868b",
					"#9a9a9a"
				]
			},
			{
				"prop": "background",
				"value": "#000000",
				"textColors": [
					"#ffffff",
					"#9e868b",
					"#252525"
				]
			}
		]
	},
	{
		"prop": "background",
		"value": "transparent",
		"previewColorBlock": 2,
		"blocks": [
			{
				"prop": "background",
				"value": "#ffffff",
				"textColors": [
					"#252525",
					"#708d9d",
					"#9a9a9a"
				]
			},
			{
				"prop": "background",
				"value": "#435762",
				"textColors": [
					"#ffffff",
					"#708d9d",
					"#9a9a9a"
				]
			},
			{
				"prop": "background",
				"value": "#e8eaeb",
				"textColors": [
					"#252525",
					"#708d9d",
					"#9a9a9a"
				]
			},
			{
				"prop": "background",
				"value": "#f6f6f6",
				"textColors": [
					"#252525",
					"#708d9d",
					"#9a9a9a"
				]
			},
			{
				"prop": "background",
				"value": "#000000",
				"textColors": [
					"#ffffff",
					"#708d9d",
					"#252525"
				]
			}
		]
	},
	{
		"prop": "background",
		"value": "transparent",
		"previewColorBlock": 2,
		"blocks": [
			{
				"prop": "background",
				"value": "#ffffff",
				"textColors": [
					"#252525",
					"#829069",
					"#9a9a9a"
				]
			},
			{
				"prop": "background",
				"value": "#4d553e",
				"textColors": [
					"#ffffff",
					"#829069",
					"#9a9a9a"
				]
			},
			{
				"prop": "background",
				"value": "#eaebe8",
				"textColors": [
					"#252525",
					"#829069",
					"#9a9a9a"
				]
			},
			{
				"prop": "background",
				"value": "#f6f6f6",
				"textColors": [
					"#252525",
					"#829069",
					"#9a9a9a"
				]
			},
			{
				"prop": "background",
				"value": "#000000",
				"textColors": [
					"#ffffff",
					"#829069",
					"#252525"
				]
			}
		]
	},
	{
		"prop": "background",
		"value": "transparent",
		"previewColorBlock": 2,
		"blocks": [
			{
				"prop": "background",
				"value": "#ffffff",
				"textColors": [
					"#252525",
					"#837791",
					"#9a9a9a"
				]
			},
			{
				"prop": "background",
				"value": "#484150",
				"textColors": [
					"#ffffff",
					"#837791",
					"#9a9a9a"
				]
			},
			{
				"prop": "background",
				"value": "#e9e8eb",
				"textColors": [
					"#252525",
					"#837791",
					"#9a9a9a"
				]
			},
			{
				"prop": "background",
				"value": "#f6f6f6",
				"textColors": [
					"#252525",
					"#837791",
					"#9a9a9a"
				]
			},
			{
				"prop": "background",
				"value": "#000000",
				"textColors": [
					"#ffffff",
					"#837791",
					"#252525"
				]
			}
		]
	}
];
}`;

.markup {
	.behavior() {
		.button-Exeption();
		.contacts-Exeption();
		.fonts(p);
		p { margin: 0; }
		a {
			.transition();
			outline: none;
		}
	};
	.siteTheme(@siteConfVal, @block1, @block2, @block3, @block4) {};
	.blockTheme(@blockBg, @text1, @text2, @text3) {
		@block1r: e(`config.blocks.get(@{site}, 1).value`); @block1: color("@{block1r}");
		@block2r: e(`config.blocks.get(@{site}, 2).value`); @block2: color("@{block2r}");
		@block3r: e(`config.blocks.get(@{site}, 3).value`); @block3: color("@{block3r}");
		@block4r: e(`config.blocks.get(@{site}, 4).value`); @block4: color("@{block4r}");
		a { color: @text2; }
	}
}

.header {
	.behavior() {
		margin: @blockMargin;
		.ul-header-wrap { margin: 0 !important; }
		h1 { .fonts(h1); }
	};
}

.wysiwyg {
	.behavior() {
		margin: @blockMargin;
		h2, .h2 li { .fonts(h2); }
		h3, .h3 li { .fonts(h3); }
		h4, .h4 li { .fonts(h4); }
		h5, .h5 li {
			.fonts(p);
			.border;
			padding: 12px 20px 13px;
		}
		h6 {
			.fonts(h6);
			padding: 5px 20px;
			border-left: 1px solid;
		}
		ol {
			margin: 0;
			padding: 0;
			counter-reset: li;
			li {
				position: relative;
				list-style-type: none;
				padding: 7px 0 6px 40px;
				&:before {
					content: counter(li) !important;
					counter-increment: li;
					display: inline-block;
					position: absolute;
					top: 7px;
					width: 30px;
					font-size: 14px;
					line-height: 25px;
					text-align: center;
					margin: 0px 0px 0 -40px;
					font-weight: bold;
				}
			}
			&.h2 li:before { top: 13px; }
			&.h3 li:before { top: 12px; }
			&.h5 li {
				padding: 15px 15px 15px 50px;
				margin: 0 0 5px 0;
				&:before { top: 15px; }
			}
			&.h6 li {
				.fonts(h6);
				padding: 0 15px 0 45px;
				margin: 0 0 5px 0;
				&:before { top: -3px; }
				&:after {
					content: '';
					position: absolute;
					width: 1px;
					height: 100%;
					top: 0;
					left: 0;
				}
			}
		}
		ul {
			margin: 0;
			padding: 0;
			li {
				position: relative;
				padding: 7px 0 6px 40px;
				list-style-type: none;
				&:before {
					.border();
					content: '';
					position: absolute;
					width: 7px;
					height: 7px;
					top: 16px;
					margin: 0px 0px 0 -30px;
				}
			}
			&.h2 li:before { top: 22px; }
			&.h3 li:before { top: 20px; }
			&.h5 li {
				padding: 15px 15px 15px 50px;
				margin: 0 0 5px 0;
				&:before { top: 26px; }
			}
			&.h6 li {
				.fonts(h6);
				padding: 0 15px 0 45px;
				margin: 0 0 5px 0;
				&:before { top: 6px; }
				&:after {
					content: '';
					position: absolute;
					width: 1px;
					height: 100%;
					top: 0;
					left: 0;
				}
			}
		}
	};
	.blockTheme(@blockBg, @text1, @text2, @text3) {
		@block2r: e(`config.blocks.get(@{site}, 2).value`); @block2: color("@{block2r}");
		h5, .h5 li, h6 { .borderColorDark(); }
		ol.h6 li:after, ul.h6 li:after { .bgColorDark(); }
		ol.h6 li:before, ul li:before { border-color: @text1; }
	}
}

.button-Exeption {
	.col-md-2 .ul-w-button {
		@media (min-width: 991px) and (max-width: 1200px) {
			.small { min-width: 95px; }
			.middle { min-width: 110px; }
			.large { min-width: 125px; }
		}

	}
}
.button {
	.behavior() {
		&1 {
			&.small  { .buttonBehavior(1, 1); }
			&.middle { .buttonBehavior(1, 2); }
			&.large  { .buttonBehavior(1, 3); }
		}
		&2 {
			&.small  { .buttonBehavior(2, 1); }
			&.middle { .buttonBehavior(2, 2); }
			&.large  { .buttonBehavior(2, 3); }
		}
		&3 {
			&.small  { .buttonBehavior(3, 1); }
			&.middle { .buttonBehavior(3, 2); }
			&.large  { .buttonBehavior(3, 3); }
		}
	}
	.blockTheme(@blockBg, @text1, @text2, @text3) {
		@block1r: e(`config.blocks.get(@{site}, 1).value`); @block1: color("@{block1r}");
		@block2r: e(`config.blocks.get(@{site}, 2).value`); @block2: color("@{block2r}");
		@block3r: e(`config.blocks.get(@{site}, 3).value`); @block3: color("@{block3r}");
		@block4r: e(`config.blocks.get(@{site}, 4).value`); @block4: color("@{block4r}");
		&1 {
			&.large, &.middle, &.small { .buttonColor(1); }
		}
		&2 {
			&.large, &.middle, &.small { .buttonColor(2); }
		}
		&3 {
			&.large, &.middle, &.small { .buttonColor(3); }
		}
	}
}

.social {
	.behavior() {
		margin: @blockMargin;
		&-design1, &-design2, &-design3 {
			.ul-w-social {
				&-title { .widget_title(); }
				&-icons .ul-w-social-item a {
					.transition();
					position: relative;
					display: inline-block;
					width: 50px;
					height: 50px;
					margin: 0 7px 7px 0;
					background-image: none !important;
					&:before {
						.Icomoon;
						position: absolute;
						font-size: 18px;
						top: 50%;
						left: 50%;
						transform: translate(-45%, -45%);
						-webkit-transform: translate(-45%, -45%);
						-moz-transform: translate(-45%, -45%);
					}
					&.ul-w-social {
						&-facebook:before      { content: "\f09a"; }
						&-vkontakte:before     { content: "\f189"; }
						&-twitter:before       { content: "\f099"; }
						&-odnoklassniki:before { content: "\e609"; }
						&-linkedin:before      { content: "\f0e1"; }
						&-mailru:before        { content: "\e608"; }
						&-google:before        { content: "\f0d5"; }
						&-instagram:before     { content: "\f16d"; }
						&-youtube:before {
							content: "\f167";
							top: 12px;
							left: 15px;
							font-size: 25px;
							transform: none;
							-webkit-transform: none;
							-moz-transform: none;
						}
						&-yandex:before {
							font-family: 'yandex';
							position: absolute;
							content: "\0041";
						    top: 25px;
    						left: 23px;
						}
					}
				}
			}
		}
		&-design1 .ul-w-social-item a:after {
			.transition();
			.border();
			content: '';
			position: absolute;
			top: 3px;
			left: 3px;
			width: calc(~"100% - 6px");
			height: calc(~"100% - 6px");
		}
		&-design2 .ul-w-social-icons .ul-w-social-item a { width: 35px; }
		&-design3 .ul-w-social-icons .ul-w-social-item a {
			border: 2px solid;
			&.ul-w-social {
				&-youtube:before {
					top: 10px;
					left: 13px;
				}
				&-yandex:before {
					top: 23px;
					left: 21px;
				}
			}
		}
	};
	.blockTheme(@blockBg, @text1, @text2, @text3) {
		@block2r: e(`config.blocks.get(@{site}, 2).value`); @block2: color("@{block2r}");
		&-design1 .ul-w-social-item a,
		&-design2 .ul-w-social-item a,
		&-design3 .ul-w-social-item a { color: @white; }
		&-design1 .ul-w-social-item a {
			.bgColorDark();
			&:after { .borderColorDark(); }
			&:hover {
				background-color: lighten(@block2, 15%);
				&:after { border-color: lighten(@block2, 40%); }
			}
			&:active {
				background-color: lighten(@block2, 10%);
				&:after { border-color: lighten(@block2, 30%); }
			}
		}
		&-design2 .ul-w-social-item a {
			color: @text1;
			&:hover { color: lighten(@block2, 15%); }
			&:active { color: lighten(@block2, 10%); }
		}
		&-design3 .ul-w-social-item a {
			.borderColorDark();
			color: @black;
			background: @white;
			&:hover {
				color: @white;
				background-color: lighten(@block2, 15%);
				border-color: lighten(@block2, 15%);
			}
			&:active {
				color: @white;
				background-color: lighten(@block2, 10%);
				border-color: lighten(@block2, 10%);
			}
		}
	};
}

.contacts-Exeption() {
	.col-md-4, .col-md-5, .col-md-6 {
		.ul-w-contacts .ul-w-contacts-custom-design3 .ul-w-contacts {
			&-item {
				display: -webkit-box;
				display: -moz-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
			}
			&-item-title {
				float: none;
				order: 1;
			}
			&-map {
				float: none;
				width: 100%;
				height: 260px;
				order: 3;
				&:first-child+.ul-w-contacts-list { width: 100%; }
			}
			&-list {
				float: none;
				width: 100%;
				order: 2;
				margin-bottom: 20px;
			}
		}
	}
	.col-md-7, .col-md-8, .col-md-9 {
		@media (max-width: 1200px) {
			.ul-w-contacts .ul-w-contacts-custom-design3 .ul-w-contacts {
				&-item {
					display: -webkit-box;
					display: -moz-box;
					display: -ms-flexbox;
					display: -webkit-flex;
					display: flex;
					-webkit-flex-direction: column;
					-ms-flex-direction: column;
					flex-direction: column;
				}
				&-item-title {
					float: none;
					order: 1;
				}
				&-map {
					float: none;
					width: 100%;
					height: 260px;
					order: 3;
					&:first-child+.ul-w-contacts-list { width: 100%; }
				}
				&-list {
					float: none;
					width: 100%;
					order: 2;
					margin-bottom: 20px;
				}
			}
		}
	}
	@media (max-width: 991px) {
		.ul-w-contacts .ul-w-contacts-custom-design2 .ul-w-contacts-map { height: 260px; }
		.ul-w-contacts .ul-w-contacts-custom-design3 .ul-w-contacts {
			&-item {
				display: -webkit-box;
				display: -moz-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
			}
			&-item-title {
				float: none;
				order: 1;
			}
			&-map {
				float: none;
				width: 100%;
				height: 260px;
				order: 3;
				&:first-child+.ul-w-contacts-list { width: 100%; }
			}
			&-list {
				float: none;
				width: 100%;
				order: 2;
				margin-bottom: 20px;
			}
		}
	}
}
.contacts {
	.behavior() {
		margin: @blockMargin;
		.ul-w-contacts {
			&-item-title { .widget_title(); }
			&-map {
				height: 260px;
				-webkit-filter: grayscale(100%);
				-moz-filter: grayscale(100%);
				-ms-filter: grayscale(100%);
				-o-filter: grayscale(100%);
				filter: grayscale(100%);
			}
		}
		&-custom-design1 tr td,
		&-custom-design3 tr td {
			&[class*='ul-w-contacts-f'] {
				width: 0;
				height: 0;
				position: relative;
				font-size: 0;
				&:before {
					.Icomoon;
					position: absolute;
					left: 0;
					top: 3px;
					font-size: 18px;
				}
				&.ul-w-contacts-f {
					&-phone:before { content: '\f095'; }
					&-address:before { content: '\f041'; }
					&-skype:before { content: '\f17e'; }
					&-email:before { content: '\f003'; }
					&-icq:before { content: '\e604'; }
					&-viber:before { content: '\e60d'; }
					&-gtalk:before { content: '\e603'; }
					&-faks:before { content: '\e601'; }
					&-extra:before {
						.FontAwesome;
						content: "\f00c";
					}
				}
			}
			&:nth-child(2) { padding: 0 20px 10px 35px; }
		}
		&-custom-design1 {
			.ul-w-contacts {
				&-map { margin-bottom: 10px; }
				&-item-title { text-align: center; }
			}
			table, tbody {
				display: block;
				text-align: center;
			}
			tr {
				display: inline-block;
				td:nth-child(2) { padding: 0 20px 0 25px; }
			}
		}
		&-custom-design2 {
			.ul-w-contacts {
				&-list { margin-bottom: 20px; }
				&-map { height: 375px; }
			}
			td {
				padding: 0 20px 10px 0px !important;
				&:first-child {
					width: 95px !important;
					text-align: left !important;
				}
			}
		}
		&-custom-design3 {
			.ul-w-contacts {
				&-item-title {
					float: left;
					width: 45%;
					&:only-child { width: 100%; }
				}
				&-item { overflow: hidden; }
				&-map {
					float: right;
					width: 55%;
					height: 375px;
					&:only-child { width: 100%; }
					&:first-child+.ul-w-contacts-list {	width: 35%; }
				}
				&-list {
					float: left;
					width: 45%;
					word-break: break-all;
					&:nth-child(2) { width: 100%; }
				}
			}
			tr td:nth-child(2) { padding: 0 20px 10px 35px; }
		}
	};
	.blockTheme(@blockBg, @text1, @text2, @text3) {
		&-custom-design1 tr td:before,
		&-custom-design3 tr td:before,
		&-custom-design2 tr td:first-child { color: @text1 !important; }
	}
}

.border {
	.behavior() {
		.hr.ul-widget-border {
			&-style1 { background-image: none; }
			&-style2 {
				background-image: none;
				border-bottom: 1px solid;
			}
			&-style3 {
				background-position: bottom;
    			background-size: 10px 1px;
    			background-repeat: repeat-x;
				&:after { display: none; }
			}
		}
	};
	.blockTheme(@blockBg, @text1, @text2, @text3) {
		@block2r: e(`config.blocks.get(@{site}, 2).value`); @block2: color("@{block2r}");
		.hr.ul-widget-border {
			&-style1 { .bgColorDark(); }
			&-style2 { border-color: @text3; }
			&-style3 {
				background-image: @text3;
				background-image: -moz-linear-gradient(left,  @text3 50%, transparent 0);
				background-image: -webkit-linear-gradient(left,  @text3 50%,transparent 0);
				background-image: linear-gradient(to right,  @text3 50%,transparent 0);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@text3', endColorstr='transparent',GradientType=1 );
			}
		}
	}
}

.bloquote {
	.behavior() {
		margin: @blockMargin;
		&.ul-w-bloquote-design1, &.ul-w-bloquote-design2 {
			&:before { display: none; }
			.ul-w-bloquote {
				&-text {
					position: relative;
					margin: 0;
					&:before {
						.FontAwesome;
						content: "\f10d";
						position: absolute;
					}
				}
				&-author {
					margin: 0;
					padding: 30px 20px;
					font-weight: bold;
				}
			}
		}
		&.ul-w-bloquote-design1 .ul-w-bloquote {
			&-text {
				border-bottom: none;
				padding: 60px 20px 0;
				&:before {
					top: 20px;
					left: 20px;
					font-size: 30px;
				}
			}
			&-author {
			}
		}
		&.ul-w-bloquote-design2 .ul-w-bloquote {
			&-text {
				padding: 60px 0 0;
				&:before {
					top: 0;
					left: 0;
					font-size: 25px;
				}
				&:after {
					content: "";
					position: absolute;
					width: 100%;
					height: 1px;
					top: 45px;
					left: 0;
				}
			}
			&-author { padding: 30px 0;	}
		}
	};
	.blockTheme(@blockBg, @text1, @text2, @text3) {
		&.ul-w-bloquote-design1 .ul-w-bloquote-author,
		&.ul-w-bloquote-design2 .ul-w-bloquote-author { }
		&.ul-w-bloquote-design1 .ul-w-bloquote {
			&-text {
				&:before {  }
			}
			&-author { }
		}
		&.ul-w-bloquote-design2 .ul-w-bloquote {
			&-text {
				&:before {  }
				&:after {  }
			}
		}
	}
}

.imagezoom {
	.behavior() {
		margin: @blockMargin;
		&.ui-draggable .ul-w-imagezoom-title-hover { pointer-events: all !important; }
		.ul-w-imagezoom-img img {
			overflow: hidden;
		}
		&[data-options*="\"click\":\"lightbox\""],
		&[data-options*="\"click\":\"link\""] {
			p[data-lightbox="true"] {
				&:before {
					.transition;
					content: "";
					display: block;
					width: 100%;
					height: 100%;
					position: absolute;
					opacity: 0;
				}
				&:hover {
					&:before {
						.transition;
						opacity: 1;
					}
				}
			}
			.ul-wrap-w {
				&::before {
					.border();
					.transition;
					.transform(scale(0));
					content: "";
					pointer-events: none;
					width: auto;
					height: auto;
					position: absolute;
					top: 15px;
					bottom: 15px;
					left: 15px;
					right: 15px;
					z-index: 1;
					opacity: 0;
				}
				&:hover {
					&::before {
						.transform(scale(1));
						opacity: 1;
					}
				}
			}
		}
		&[data-options*="\"click\":\"link\""] {
			p[data-lightbox="true"] {
				&:after {
					.transition;
					content: "\f0c1";
					font-family: FontAwesome;
					font-size: 16px;
					display: block;
					width: 15px;
					height: 25px;
					margin: -12.5px 0 0 -7.5px;
					position: absolute;
					top: 50%;
					left: 50%;
					opacity: 0;
				}
				&:hover:after { opacity: 1; }
			}
		}
		&[data-options*="\"click\":\"lightbox\""] {
			p[data-lightbox="true"] {
				&:after {
					.transition;
					content: "\f00e";
					font-family: FontAwesome;
					font-size: 16px;
					display: block;
					width: 15px;
					height: 25px;
					margin: -12.5px 0 0 -7.5px;
					position: absolute;
					top: 50%;
					left: 50%;
					z-index: 5;
					opacity: 0;
				}
				&:hover:after { opacity: 1; }
			}
		}
		&[data-options*="\"event\":true"] {
			.ul-w-imagezoom-title-hover { bottom: 40% !important; }
		}
		&[data-options*="\"label\":true"] {
			.ul-w-imagezoom-img {
				&:before {
					.transition;
					content: "";
					display: block;
					width: 100%;
					height: 100%;
					position: absolute;
					opacity: 0;
				}
				&:hover {
					&:before {
						.transition;
						opacity: 1;
					}
				}
			}
		}
		&[data-options*="\"altPosition\":\"bottom\""] {
			&[data-options*="\"event\":false"] {
				.ul-w-imagezoom-img:hover:before { opacity: 0 !important; }
				.ul-wrap-w:hover:before { opacity: 0 !important; }
			}
			&[data-options*="\"event\":true"] {
				.ul-wrap-w::before { bottom: 60px; }
			}
		}
		&[data-options*="\"label\":false"] {
			&[data-options*="\"event\":false"] {
				.ul-wrap-w:hover:before { opacity: 0 !important; }
			}
		}
		.ul-w-imagezoom {
			&-title {
				.fonts(p);
				.textCenter;
				display: block;
				padding-left: 10px;
				padding-right: 10px;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
			&-title-hover {
				.fonts(p);
				.textCenter;
				.transition;
				.transform(scale(0));
				display: block;
				margin-bottom: -15px;
				padding: 0 30px 0 30px;
				background: none !important;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				position: absolute;
				bottom: 50%;
				z-index: 2;
				pointer-events: none;
				opacity: 0;
			}
		}
		&:hover .ul-w-imagezoom-title-hover { .transform(scale(1)) !important; }
	};
	.siteTheme(@siteConfVal, @block1, @block2, @block3, @block4) {
		p[data-lightbox="true"],
		.ul-w-imagezoom-img {
			&:before { background-color: fade(darken(@block2, 20%) ,50%); }
		}
		.ul-wrap-w:before { border-color: fade(@white,50%) !important; }
	};
	.blockTheme(@blockBg, @text1, @text2, @text3) {
		&[data-options*="\"click\":\"link\""],
		&[data-options*="\"click\":\"lightbox\""] { p[data-lightbox="true"]:after { color: @white; } }
	}
}

.gallery {
	.behavior() {
		&.ul-widget-gallery-slideshow {
			margin: @blockMargin;
			.prev-owl {
				.transition;
				height: 150px;
				width: 50px;
				margin-top: -75px;
				background-image: none;
				top: 50%;
				left: 0;
				&:before {
					content: "\f104";
					font-family: FontAwesome;
					font-size: 20px;
					height: 25px;
					margin-top: -12.5px;
					position: absolute;
					top: 50%;
					left: 20px;
				}
			}
			.next-owl {
				.transition;
				height: 150px;
				width: 50px;
				margin-top: -75px;
				background-image: none;
				top: 50%;
				right: 0;
				&:before {
					content: "\f105";
					font-family: FontAwesome;
					font-size: 20px;
					height: 25px;
					margin-top: -12.5px;
					position: absolute;
					top: 50%;
					right: 20px;
				}
			}
			.carousel-caption {
				position: absolute;
				p {
					.fonts(p);
					.textCenter;
					margin: 0;
					padding: 12.5px 10px;
					&:empty { padding: 0; }
				}
			}
			.control-panel {
				.gallery-slide {
					&-thumb-left,
					&-thumb-right {
						.transition;
						height: 150px;
						width: 50px;
						margin-top: -75.5px;
						background-image: none;
						top: 50%;
						&:before {
							font-family: FontAwesome;
							font-size: 20px;
							height: 25px;
							margin-top: -12.5px;
							position: absolute;
							top: 50%;
						}
					}
					&-thumb-left {
						left: 0;
						&:before {
							content: "\f104";
							left: 20px;
						}
					}
					&-thumb-right {
						right: 0;
						&:before {
							content: "\f105";
							right: 20px;
						}
					}
				}
				.icon-content-special {
					&-arrow-left-small,
					&-arrow-right-small {
						margin: 0;
						height: 100%;
						width: 100%;
						top: 0;
						left: 0;
						right: 0;
						&:before { content: none; }
					}
				}
				.ul-owl-controls {
					max-height: 150px;
					margin: 0 5px;
					padding: 0;
					.owl-page {
						height: 150px;
						margin: 0;
						position: relative;
						cursor: pointer;
						&::before {
							.transition;
							.border();
							content: "";
							width: auto;
							height: auto;
							position: absolute;
							top: 10px;
							right: 10px;
							bottom: 10px;
							left: 10px;
							z-index: 1;
							pointer-events: none;
							opacity: 0;
						}
						&::after {
							.transition;
							content: "";
							width: 100%;
							height: 100%;
							position: absolute;
							top: 0;
							left: 0;
							pointer-events: none;
							opacity: 0;
						}
						&:hover { &:before, &:after { opacity: 1; } }

						&.active {
							&:before, &:after { opacity: 1; }
							&:after {
								content: "";
								border: 10px solid;
								background: none;
							}

						}
						.item-link {
							height: auto;
							width: auto;
							border: none;
							.ul-previer-slider {
								.transition;
								height: 150px;
								width: 237px;
								opacity: 1 !important;
								& + span { height: 100%; }
							}
						}
					}
				}
			}
		}
		&.ul-widget-gallery-grid {
			margin: @blockMargin;
			.ul-w-gallery-item {
				position: relative;
				margin: 0 !important;
				.caption {
					.fonts(p);
					.textCenter;
					display: block;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					position: absolute;
				}
				&.ul-w-gallery-hover {
					&::before {
						.transition;
						content: "";
						display: block;
						width: 100%;
						height: 100%;
						position: absolute;
						opacity: 0;
					}
					&::after {
						.border();
						.transition;
						.transform(scale(0));
						content: "";
						pointer-events: none;
						width: auto;
						height: auto;
						position: absolute;
						top: 15px;
						bottom: 15px;
						left: 15px;
						right: 15px;
						z-index: 1;
						opacity: 0;
					}
					&:hover {
						&:before {
							.transition;
							opacity: 1;
						}
						&:after {
							.transform(scale(1));
							opacity: 1 !important;
						}
						.caption { .transform(scale(1)) !important; }
					}
					.caption {
						.transition;
						.transform(scale(0));
						padding: 0 30px 5px 30px;
						background: none !important;
						bottom: 50%;
						z-index: 2;
					}
				}
				&.ul-w-gallery-under {
					margin-bottom: 0 !important;
					.caption {
						.transition;
						padding: 15px 20px;
					}
					&[data-src^="/"] {
						&::before {
							.transition;
							content: "";
							display: block;
							width: 100%;
							height: 100%;
							position: absolute;
							opacity: 0;
						}
						&::after {
							.border();
							.transition;
							.transform(scale(0));
							content: "";
							pointer-events: none;
							width: auto;
							height: auto;
							position: absolute;
							top: 15px;
							bottom: 15px;
							left: 15px;
							right: 15px;
							z-index: 1;
							opacity: 0;
						}
						&:hover {
							&:before {
								.transition;
								opacity: 1;
							}
							&:after {
								.transform(scale(1));
								opacity: 1 !important;
							}
							.caption {
								background: none;
								padding: 20px 25px;
							}
						}
					}
				}
			}
		}
		&.ul-widget-gallery-collage {
			margin: @blockMargin;
			.ul-w-gallery-item {
				margin: 0 !important;
				.caption {
					.fonts(p);
					.textCenter;
					display: block;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					position: absolute;
				}
				&.ul-w-gallery-hover {
					margin-top: 0;
					margin-left: 0;
					&::before {
						.transition;
						content: "";
						display: block;
						width: 100%;
						height: 100%;
						position: absolute;
						z-index: 1;
						opacity: 0;
					}
					&::after {
						.border();
						.transition;
						.transform(scale(0));
						content: "";
						pointer-events: none;
						width: auto;
						height: auto;
						position: absolute;
						top: 15px;
						bottom: 15px;
						left: 15px;
						right: 15px;
						z-index: 2;
						opacity: 0;
					}
					&:hover {
						&:before {
							.transition;
							opacity: 1 !important;
						}
						&:after {
							.transform(scale(1));
							opacity: 1 !important;
						}
						.caption {
							.transform(scale(1)) !important;
							opacity: 1 !important;
						}
					}
					.caption {
						.transition;
						.transform(scale(0));
						margin-bottom: -15px;
						padding: 0 30px 5px 30px;
						background: none !important;
						bottom: 50%;
						z-index: 3;
						opacity: 0 !important;
					}
				}
				&.ul-w-gallery-under {
					margin-bottom: 5px !important;
					.caption {
						.transition;
						width: 100%;
						padding: 15px 20px;
						bottom: 0;
						&:empty { padding: 0; }
					}
					&[data-src^="/"] {
						margin-top: 0;
						margin-left: 0;
						&::before {
							.transition;
							content: "";
							display: block;
							width: 100%;
							height: 100%;
							position: absolute;
							opacity: 0;
						}
						&::after {
							.border();
							.transition;
							.transform(scale(0));
							content: "";
							pointer-events: none;
							width: auto;
							height: auto;
							position: absolute;
							top: 15px;
							bottom: 15px;
							left: 15px;
							right: 15px;
							z-index: 1;
							opacity: 0;
						}
						&:hover {
							&:before {
								.transition;
								opacity: 1;
							}
							&:after {
								.transform(scale(1));
								opacity: 1 !important;
							}
							.caption {
								background: none;
								padding: 20px 25px;
							}
						}
					}
				}
			}
		}
	};
	.siteTheme(@siteConfVal, @block1, @block2, @block3, @block4) {
		&.ul-widget-gallery-slideshow {
			.prev-owl, .next-owl {
				background: fade(darken(@block2, 20%) ,50%);
				&:hover { background: lighten(@block2, 15%); }
				&:active { background: lighten(@block2, 10%) !important; }

			}
			.carousel-caption { background: fade(darken(@block2, 20%) ,50%);}
			.gallery-slide {
				&-thumb-left, &-thumb-right {
					.bgColorDark() !important;
					&:hover { background: lighten(@block2, 15%) !important; }
					&:active { background: lighten(@block2, 10%) !important; }
				}
			}
			.owl-page {
				&:hover::after { background-color: fade(darken(@block2, 20%) ,50%); }
				&.active::after { border-color: fade(darken(@block2, 20%) ,50%) !important; }
			}
		}
		&.ul-widget-gallery-grid .ul-w-gallery-item,
		&.ul-widget-gallery-collage .ul-w-gallery-item {
			&::before { background-color: fade(darken(@block2, 20%) ,50%); }
			&::after { border-color: fade(@white, 50%) !important; }
			&.ul-w-gallery-under .caption { background-color: fade(darken(@block2, 20%) ,50%); }
		}
	};
	.blockTheme(@blockBg, @text1, @text2, @text3) {
		&.ul-widget-gallery-slideshow {
			.prev-owl::before,
			.next-owl::before,
			.carousel-caption p { color: @white; }
			.control-panel .owl-page::before { border-color: fade(@white, 50%); }
		}
		&.ul-widget-gallery-grid,
		&.ul-widget-gallery-collage .ul-w-gallery-item .caption { color: @white; }
	}
}
//.mainmenu {
//	.behavior() {
//		@menu-leftMargin: 0px;
//		@menu-topMargin: -20px;
//		@menu-height: 100px;
//		@menu-fontFamily: inherit;
//		@menu-textTransform: none;
//		@menu-textDecotarion: none;
//		@menu-fontWeight: normal;
//		@menuNav-itemLinkTopPadding: 10px;
//		@menuNested-itemLinkTopPadding: 15px;
//		@menu-itemLinkLeftPadding: 0px;
//		@menuNav-itemLeftPadding: 20px;
//		@menuNav-fontSize: 16px;
//		@menuNav-arrowFontSize: 15px;
//		@menuNav-arrowSymbol: "\f107";
//		@menuNested-Aligment: 4;
//		@menuNested-itemTopPadding: 0px;
//		@menuNested-itemLeftPadding: 30px;
//		@menuNested-fontSize: 16px;
//		@menuNested-itemWidth: 220px;
//		@menuNested-arrowEdgePadding: 8px;
//		@menuNested-fontSizeArrow: 14px;
//		@menuNested-leftArrowSymbol: "\f105";
//		@menuNested-rightArrowSymbol: "\f104";
//		@menuToggle-arrowMargin: 12px;
//		@menuToggle-arrowLeftPadding: 12px;
//		@menuToggleButton-width: 50px;
//		@menuToggleButton-height: 50px;
//		@menuToggleButton-spanWidth: 30px;
//		@menuToggleButton-spanHeight: 3px;
//		@menuToggleButton-marginBetweenSpan: 4px;
//		@menuToggleButton-left: calc(~"100% - " @menuToggleButton-width  ~"+ 10px");
//		@menuToggleButton-top: -66px;
//		@menuToggleButton-marginBottom: 20px;
//		@menuMobile-itemHeight: 48px;
//		@menuMobile-marginTop: 15px;
//		@menuMobile-marginBottom: 15px;
//		@menuMobile-fontSize: 16px;
//		.ul-w-mainmenu-toggle-button { position: absolute !important; }
//		.leftSideMenu { .textRight(); }
//		.rightSideMenu { .textRight(); }
//		.menuMixin();
//		.ul-w-mainmenu-item { letter-spacing: 0.1px; }
//
//		& > .ul-w-mainmenu-item > .ul-w-mainmenu-nested,
//		.ul-w-mainmenu-toggle-nested { margin-left: -30px !important; }
//
//		& > .ul-w-mainmenu-item.ul-w-mainmenu-have-nested > a,
//		.ul-w-mainmenu-toggle-more { padding-right: 22px !important; }
//
//		-webkit-justify-content: center;
//		justify-content: center;
//	}
//	.blockTheme(@blockBg, @text1, @text2, @text3) {
//		@block1r: e(`config.blocks.get(@{site}, 1).value`); @block1: color("@{block1r}");
//		@block2r: e(`config.blocks.get(@{site}, 2).value`); @block2: color("@{block2r}");
//		@block3r: e(`config.blocks.get(@{site}, 3).value`); @block3: color("@{block3r}");
//		@block4r: e(`config.blocks.get(@{site}, 4).value`); @block4: color("@{block4r}");
//		.menuNav-activeItem { & > a { border-bottom: 4px solid @text2; } }
//		.menuNested-activeItem {  background-color: darken(@block2, 10%); }
//		.menuMobile-activeItem {  & > a { color: @text3; } }
//		.menuNav-colors {
//			.transition();
//			background-color: transparent;
//			& > a {
//				color: @text1;
//				border-bottom: 4px solid transparent;
//				&:hover { border-bottom: 4px solid @text2; }
//			}
//			&:hover { background-color: transparent; }
//		}
//		.menuNested-colors {
//			.transition();
//			background-color: @block3;
//			& > a { .transition(); color: @text1; }
//			&:hover { background-color: darken(@block2, 10%); }
//		}
//		.menuMobile-colors {
//			.transition();
//			& > a { .transition(); color: @text1; }
//		}
//		.menuMobile-button {
//			border: 2px solid @white;
//			background-color: transparent;
//			span { background-color: @white; }
//		}
//		.menuMixinColor();
//	}
//}




