<%
	styles.push(root + '/css/main.css');
%>

<header>
	<div class="container-fluid h_top">
		<%- widgets['ul-id-contacts-head'] %>
		<div class="container">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mob_head">
            	<%- widgets['ul-id-social-header_social'] %>
            </div>
		</div>
	</div>
	<div class="container-fluid h_bottom">
		<div class="wrapper">
			<div class="title-box col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<%- widgets['ul-id-icon-header'] %>
				<%- widgets['ul-id-header-sitename']  %>
			</div>
			<div class="mainmenu-box col-xs-12 col-sm-12 col-md-8 col-lg-8">
				<%- widgets['ul-id-mainmenu-main'] %>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</header>

<div id="ul-content">
	<%- body %>
</div>

<footer>
	<div class="container footerCopyright">
		<%- widgets['ul-id-wysiwyg-footercopyright'] %>
	</div>
</footer>

